@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a; /* slate-900 */
  color: #f8fafc; /* slate-50 */
}

#root {
  width: 100%;
}
